<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INICIO</title>
  </head>
  <body>
    <h1>bienvenido</h1>
    <p th:text="${mensaje}"></p>
    <br />

    <div th:if="${personas !=null and !personas.empty}">
      <table border="1">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Telefono</th>
          <th>Email</th>
        </tr>

        <tr th:each="persona: ${personas}">
          <td><span th:text="${persona.nombre}"></span></td>
          <td><span th:text="${persona.apellido}"></span></td>
          <td><span th:text="${persona.telefono}"></span></td>
          <td><span th:text="${persona.email}"></span></td>
        </tr>
      </table>
    </div>

    <div th:if="${personas==null or personas.empty}">
      La lista de personas esta vacia
    </div>

  </body>
</html>
